
main article{
  display: block;
}

article img{
  width: 100%;
  height: auto;
}

.main-content{
  margin-top: 30px;
}

article h2{
  font-size: 300%;
}

article h3{
  color: purple;
  font-size: 200%;
}

article div h3{
  margin-top: 30px;
  color: purple;
  font-size: 200%;
}

article p{
  text-indent: 15px;
  font-size: 150%;
}


@media(max-width: 480px){

  main{
    margin-top: 80px;
  }
  
  article p{
    text-indent: 15px;
    font-size: 120%;
  }

}
